<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Wordlecheat Dashboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css"
            rel="stylesheet">
    </head>
    <body>
        <h1 th:inline="text">Hello</h1>
        <br />
        <div id="react"></div>
        <br />

        <script src="built/bundle.js"></script>
        <script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>